

nav ul li{
    float: left;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-left: 20%;

}

nav button {
    margin-left: auto;
    display: flex;
}
.header{
    text-align: center;
    
}

.first {
    text-align: center;
}

.parent-container {
    display: flex;
    justify-content: space-between
}

.firstmiddle, .secondmiddle {
    flex: 1;
    margin: 10px;
}
.last {
    text-align: center;
}